<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>963585712470-11ib0gpl14db37m5gl73ijlniv4qesu6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.963585712470-11ib0gpl14db37m5gl73ijlniv4qesu6</string>
	<key>API_KEY</key>
	<string>AIzaSyCjxFxCYifnJMeAlQI05kZSczq0SZ283_A</string>
	<key>GCM_SENDER_ID</key>
	<string>963585712470</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled</string>
	<key>PROJECT_ID</key>
	<string>find-my-fish-8aef8</string>
	<key>STORAGE_BUCKET</key>
	<string>find-my-fish-8aef8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:963585712470:ios:a9a5d0df8b8ec07242f6f7</string>
</dict>
</plist>